convertNumberToWord(num)
  for word, i in one two three four five six seven eight nine ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen nineteen twenty twentyone twentytwo twentythree twentyfour
    if i + 1 == num
      word
  "invalid"
