// Usually compass hacks apply to both ie6 & 7 -- set this to false to disable support for both.
$legacySupportForIe ?= true

// Setting this to false will result in smaller output, but no support for ie6 hacks
$legacySupportForIe6 ?= $legacySupportForIe

// Setting this to false will result in smaller output, but no support for ie7 hacks
$legacySupportForIe7 ?= $legacySupportForIe

// Setting this to false will result in smaller output, but no support for legacy ie8 hacks
$legacySupportForIe8 ?= $legacySupportForIe

// @private
// The user can simply set $legacySupportForIe and 6, 7, and 8 will be set accordingly,
// But in case the user set each of those explicitly, we need to sync the value of
// this combined variable.
$legacySupportForIe = $legacySupportForIe6 or $legacySupportForIe7 or $legacySupportForIe8

// Whether to output legacy support for mozilla.
// Usually this means hacks to support Firefox 3.6 or earlier.
$legacySupportForMozilla ?= false

// Support for mozilla in experimental css3 properties (-moz).
$experimentalSupportForMozilla ?= true

// Support for webkit in experimental css3 properties (-webkit).
$experimentalSupportForWebkit ?= true

// Support for webkit's original (non-standard) gradient syntax.
$supportForOriginalWebkitGradients ?= true

// Support for opera in experimental css3 properties (-o).
$experimentalSupportForOpera ?= true

// Support for microsoft in experimental css3 properties (-ms).
$experimentalSupportForMicrosoft ?= true

// Support for khtml in experimental css3 properties (-khtml).
$experimentalSupportForKhtml ?= false

// Support for svg in experimental css3 properties.
// Setting this to true might add significant size to your
// generated stylesheets.
$experimentalSupportForSvg ?= false

// Support for CSS PIE in experimental css3 properties (-pie).
$experimentalSupportForPie ?= false